.header {
    display: flex;
    background-color: midnightblue;
    color: white;
    padding: 1rem 2rem;
}

.header__title,
.header__title>* {
    width: 200px;
    margin: 0;
    margin-right: 50px;
    text-align: left;
    line-height: 1.1;
    font-size: 1.5rem;
}

.nav {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__link {
    font-size: 1.25rem;
    padding: 1rem;
    border-radius: 5px;
}

.nav__link--active {
    font-size: 1.25rem;
    padding: 1rem;
    border-radius: 10px;
    color: #f4f5ff;
    background-color: rgb(19, 12, 66);
}

.main {
    padding: 2rem;
}