.table {
    margin: auto;
}

.table__heading {
    background-color: midnightblue;
    color: #c2c5fc;
}

/* Table column bg styling */
tbody>tr:nth-child(n)> :nth-child(1),
tbody>tr:nth-child(n)> :nth-child(3) {
    background-color: #d1d4ff;
}